html{
  background: url("./assets/possback.jpeg") fixed bottom;
  background-color: rgb(0,34,61);
}

.App {
  text-align: center;
  width: 70%;
  margin: auto;
}

.topApps{
  margin: justify;
  border: 2px black solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.521);
}

.satImg{
  width: 45%;
}

.btn{
  margin: 3px;
  background-color: rgba(44, 44, 44, 0.733);
  color: rgb(233, 232, 232);
  border: 1px black solid;
  border-radius: 3px;
  padding: 7px;
}

.btn:hover {
  background-color: rgba(104, 100, 100, 0.562);
  color: white;
}

.zomatoApp{
  margin: justify;
  border: 2px black solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.521);
  padding: 10px;
  margin-bottom: 50px;
}

.results{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

a {
  color: black;
}

a:hover{
  color: rgb(63, 63, 63);
}

a:visited{
  color: rgb(68, 68, 68);
}